<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket:</strong>
  <%= @ticket.ticket_id %>
</p>

<p>
  <strong>Flight:</strong>
  <%= @ticket.flight %>
</p>

<p>
  <strong>Passenger:</strong>
  <%= @ticket.passenger %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
